<%- if @question.errors.present? -%>
  <div class="large-12 alert-box alert" data-alert>
    <ul>
      <%- @question.errors.full_messages.each do |error| -%>
        <li><%= error %></li>
      <%- end -%>
    </ul>
  </div>
<%- end -%>

<div class="row">
  <div class="large-12">
    <%= form_for @question do |f| %>
      <%= f.label :title %>
      <%= f.text_field :title, class: "question_field" %>
      <p>
      <%= f.label :description %>
      <%= f.text_area :description, class: "question_field" %>
    </p>
      <%= f.submit "Add Question", class: 'button tiny' %>
    <%- end -%>
  </div>
</div>
