<% if flash[:notice] %>
  <%= flash[:notice] %>
<% end %>

<h3><%= @question.title %></h3>
<p><%= @question.description %></p>
<%= link_to 'Edit', '/questions/' + @question.to_param + '/edit' %></br>
<h4>Answers:</h4>
  <% @answers.each do |answer| %>
<p>
  <%= answer.description %>
  <% end %>
</p>


<%= link_to 'Answer This Question', new_question_answer_path(@question) %></br>
<%= link_to 'Home', root_path %>
