<div class="row">
  <div class="large-12">

    <%- if @answer.errors.present? -%>
        <ul>
          <%- @answer.errors.full_messages.each do |error| -%>
            <li><%= error %></li>
          <%- end -%>
        </ul>
      </div>
    <%- end -%>
    <h4 class="question_title">Question:</h4>
    <h5 id="question_answer"><%= @question.title %></h5>


    <%= form_for [@question, @answer] do |f| %>
      <h4><%= f.label :answer, class: "question_title" %></h4>
      <%= f.text_area :description, class: "question_field" %>

      <%= f.submit "Submit Answer", class: 'button tiny'  %>
    <%- end -%>

  </div>
</div>
